# install
localSettings.json
localSettings.yaml

# vendor (filter)
/composer.lock
/vendor/symfony/yaml/.gitignore
/vendor/symfony/yaml/CHANGELOG.md
/vendor/symfony/yaml/phpunit.xml.dist
/vendor/symfony/yaml/Tests
