# install
localSettings.json
localSettings.yaml

# build
/.phpunit.result.cache
/composer.lock

# non-production vendor
/vendor/
!/vendor/autoload.php
!/vendor/bin/
!/vendor/composer/
!/vendor/ulrichsg/
