<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<testsuites>
		<testsuite name="Tests">
			<directory>./test</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src/</directory>
			<exclude>
				<file>src/cli.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
